<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_meta_root" name="Meta Leads" action="action_meta_form" sequence="65" groups="odx_meta_lead_integration.group_meta_lead_manager"/>
    <menuitem id="menu_meta_forms" name="Lead Forms" parent="menu_meta_root" action="action_meta_form" sequence="10"/>
    <menuitem id="menu_meta_events" name="Import Events" parent="menu_meta_root" action="action_meta_event" sequence="20"/>
    <menuitem id="menu_meta_config" name="Configuration" parent="menu_meta_root" sequence="90"/>
    <menuitem id="menu_meta_accounts" name="Accounts" parent="menu_meta_config" action="action_meta_account"/>
</odoo>
