<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_whatsapp_root" name="WhatsApp" sequence="66" groups="odx_whatsapp_integration.group_whatsapp_user"/>
    <menuitem id="menu_whatsapp_inbox" name="Inbox" parent="menu_whatsapp_root" action="action_whatsapp_inbox" sequence="10"/>
    <menuitem id="menu_whatsapp_templates" name="Templates" parent="menu_whatsapp_root" action="action_whatsapp_template" sequence="20"/>
    <menuitem id="menu_whatsapp_config" name="Configuration" parent="menu_whatsapp_root" sequence="90" groups="odx_whatsapp_integration.group_whatsapp_manager"/>
    <menuitem id="menu_whatsapp_accounts" name="Accounts" parent="menu_whatsapp_config" action="action_whatsapp_account"/>
    <menuitem id="menu_whatsapp_events" name="Webhook Events" parent="menu_whatsapp_config" action="action_whatsapp_event" sequence="20"/>
</odoo>
